.moviesCardList {
  background-color: #202020;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.moviesCardList__container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-left: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 20px;
  box-sizing: border-box;
}

.moviesCardList__button {
  margin: 50px auto 80px;
  padding: 0;
  cursor: pointer;
  width: 320px;
  height: 36px;
  border: none;
  background-color: inherit;
  color: white;
  border: 1px solid #424242;
  border-radius: 5px;
}

.moviesCardList__button:hover {
  opacity: 0.8;
  transition: 0.5s;
}
