.moviesCard {
  background-color: #202020;
  margin: 0;
  padding: 0;
}

.moviesCard__container {
  margin: 0;
  padding: 0;
}

.moviesCard__element {
  margin: 0;
  padding: 0;
  max-width: 270px;
  min-height: 218px;
  background-color: #222222;
  border-radius: 10px;
}

.moviesCard__image {
  margin: 0;
  padding: 0;
  max-width: 270px;
  min-height: 151px;
}

.moviesCard__name {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.moviesCard__title {
  margin: 0;
  padding: 12px 0 0 12px;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: white;
}

.moviesCard__text {
  margin: 0;
  padding: 2px 0 0 12px;
  text-align: left;
  font-style: normal;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #8b8b8b;
}

.moviesCard__btn {
  margin: 8px 6px 0 0;
  padding: 0;
  cursor: pointer;
  background-image: url(../../images/not_save_btn.svg);
  width: 28px;
  height: 28px;
  border: none;
  background-size: cover;
  background-position: left;
  background-color: inherit;
}

.moviesCard__btn:hover {
  opacity: .5;
  transition: 0.3s;
}

.moviesCard__btn_active {
  background-image: url(../../images/save_btn.svg);
}

.moviesCard__btn_delete {
  background-image: url(../../images/delete_icon.svg);
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 11px 12px 10px 0;
}

@media screen and (max-width: 1024px) {
  .moviesCard__element {
    max-width: 339px;
    min-height: 257px;
  }
  
  .moviesCard__image {
    max-width: 339px;
    min-height: 190px;
  }
}

@media screen and (max-width: 425px) {
  .moviesCard__element {
    max-width: 300px;
    min-height: 235px;
  }
  
  .moviesCard__image {
    max-width: 300px;
    min-height: 168px;
  }
}
