.search {
  background-color: #202020;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.search__container {
  background-color: #202020;
  color: white;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.search__input_container {
  background-color: #202020;
  color: white;
  width: 100%;
  border-bottom: 1px solid #424242;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.search__input {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 70px 0 13px;
  color: #8b8b8b;
  text-align: left;
  font-style: normal;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  outline: none;
}

.search__input_button {
  background-image: url(../../images/arrow_icon.svg);
  cursor: pointer;
  border: none;
  background-size: cover;
  background-position: left;
  background-color: inherit;
  width: 34px;
  height: 34px;
  margin: 70px 0 0;
  padding: 0;
}

.search__input_button:hover {
  opacity: 0.5;
  transition: 0.3s;
}

@media screen and (max-width: 1279px) {
  .search__container {
    max-width: 708px;
  }
}

@media screen and (max-width: 1024px) {
  .search__container {
    max-width: 708px;
  }

  .search__input_container {
    max-width: 708px;
  }

  .search__input {
    margin: 80px 0 13px;
    max-width: 600px;
  }

  .search__input_button {
    margin: 80px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .search__container {
    max-width: 292px;
  }
  .search__input {
    margin: 80px 0 13px;
    max-width: 200px;
  }
}

@media screen and (max-width: 425px) {
  .search__container {
    max-width: 292px;
  }

  .search__input_container {
    max-width: 292px;
  }

  .search__input {
    margin: 90px 0 14px;
    max-width: 200px;
    font-size: 18px;
    line-height: 22px;
  }

  .search__input_button {
    margin: 85px 0 0;
  }
}
