.header {
  background-color: #073042;
  margin: 0 auto;
  width: 100%;
}

.header_dark {
  background-color: #202020;
}

.header__container {
  background-color: #073042;
  max-width: 1280px;
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header__container_dark {
  background-color: #202020;
  max-width: 1280px;
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__logo {
  max-width: 38px;
  margin-left: 70px;
}

.header__navbar {
  display: flex;
  gap: 16px;
  justify-content: center;
	align-items: center;
}

.header__link {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.header__link_container {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  display: flex;
  gap: 7px;

	align-items: center;
}

.header__link_text {
  margin: 0;
  padding: 0;
}

.header__logo_container {
  margin: 0;
  padding: 0;
  background-color: #313131;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
	align-items: center;
}

.header__link_logo {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;

}

.header__link:visited {
  color: white;
}

.header__link:hover {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.header__sign-in {
  margin: 0;
  padding: 0;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: #3ddc84;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 34px;
}

.header__sign-in:hover {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}