.filtercheckbox {
  margin: 0;
  padding: 32px 0 47px;
  color: white;
  display: flex;
}

.filtercheckbox__container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  gap: 14px;
  margin: 0;
}

.filtercheckbox__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  display: none;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switch__slider {
  background-color: #3ddc84;
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px #3ddc84;
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

.switch__slider.switch__round {
  border-radius: 34px;
}

.switch__slider.switch__round:before {
  border-radius: 50%;
}

@media screen and (max-width: 850px) {
  .filtercheckbox__container {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 768px) {
  .filtercheckbox {
    padding: 30px 0 47px;
  }

  .filtercheckbox__container {
    max-width: 708px;
  }

  .switch {
    height: 18px;
  }

  .switch__slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}



@media screen and (max-width: 425px) {
  .filtercheckbox {
    padding: 42px 0 47px;
  }

  .filtercheckbox__container {
    max-width: 768px;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .filtercheckbox__title {
    font-size: 11px;
    line-height: 18px;
  }
}
