.techs {
  background-color: #272727;
  height: 625px;
  margin: 0;
}

.techs__container {
  max-width: 1280px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.techs__title {
  padding: 100px 0 23px;
  margin: 0;
  color: white;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  padding-left: 70px;
}

.techs__info {
  padding: 0;
  margin: 0;
  color: white;
}

.techs__info_title {
  padding: 90px 0 0;
  margin: 0;
  color: white;
  font-style: normal;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin: 0 70px;
  border-top: 1px solid #dadada;
  max-width: 1140px;
}

.techs__info_text {
  padding: 26px 0 0;
  margin: 0 auto;
  max-width: 500px;
  color: white;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.techs__list {
  padding: 100px 0 0;
  margin: 0;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
}

.techs__element {
  padding: 0;
  margin: 0;
  background-color: #303030;
  border-radius: 10px;
  width: 90px;
  height: 60px;
}

@media screen and (max-width: 1024px) {
  .techs__info_title {
    max-width: 668px;
  }
}